@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');


/* From Public Directory */
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #a2a2a2;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

/* globals.css */
body {
  font-family: 'Source Sans 3', sans-serif;
}

